@import '../../global/base-styles';

.searchContainer {
  background-color: #d8d8d8;
  padding: 10px;
  height: 65px;
  width: 100%;
  div {
    background-color: #d8d8d8;
    div {
      text-align: right;
      margin-right: 10px;
    }
  }
}

.fixed-top {
  top: 4.2em;
}

