<div class="searchContainer fixed-top">
  <div class="row align-items-center">
    <div class="col-12">
      <app-search></app-search>
    </div>
  </div>
</div>
<div *ngIf="showLoading | async">
  <app-spinner></app-spinner>
</div>
<div class="container" style="margin-top: 150px;">
  <div class="alert alert-danger" *ngIf="errorMessage | async">
    <p>No information available for <span style="color: red">{{searchedCountryName}}</span>... try another</p>
  </div>
  <div *ngIf="countryinfo.length>0">
    <div *ngIf="countryinfo[0].name == searchedCountryName">
      <app-search-result
        [countryinfo]="countryinfo"
        [weatherInfo]="weatherInfo">
      </app-search-result>
    </div>
  </div>
</div>



